@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Shrikhand&&family=Lobster&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*不累加內矩(padding)與邊框(border)*/
}

/* 重置字體 */
body {
    font-family:
        /*外文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

h4 {
    font-family: "Shrikhand", sans-serif;
    font-size: 64px;
    font-weight: 500;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
main img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    color: var(--deep);
}

/* 主頁共用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* height: auto; */
    /* min-height: 100vh;  */
    /* border: 2px solid red; */
}
#topbar li{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
/*topbar*/
#topbar{
    background-color: #F9F9F9;
}

.navigation {
    display: flex;
    /*主軸垂直*/
    align-items: center;
    /*副軸(水平)置底*/
    justify-content: center;
    justify-content: space-between;
}

.navigation .icon {
    display: flex;
    padding: 0 50px;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    transition: all .35s ease-in-out;
}

.navigation .menu {
    display: flex;
    margin: 15px 0;
    /*控制父層的外距*/
    padding: 10px;
    border-radius: 99px;
}

.navigation .menu li:last-child {
    border-right: none;
}

.navigation .menu a {
    color: #2B3773;
    font-size: 22px;
    line-height: 1;
    margin: 0 20px;
    /*控制子層的外距*/
    border-bottom: solid 5px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 2px #76716c;
    transition: .35s ease-in-out;
}

/*banner*/
.cake {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/cakebanner.jpg');
    background-repeat: no-repeat;
    background-position-y: -1200px;
    background-size: cover;
    width: 100%;
    height: 70vh;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    opacity: 0.75;
}

.cake img {
    display: none;
}

/*allItem*/
#allItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFF5DB;
    /* height: 180vh; */
}

.allItem_l {
    width: 20%;
    color: #2B3773;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;
}

.allItem_l ul {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.ice{
    padding: 150px 60px 60px 0;
    cursor: pointer;
}
.noIce{
    padding: 0px 60px 60px 0;
    cursor: pointer;
}
.allItem_R {
    padding-top: 150px;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.sort{
    padding: 60px 150px 40px 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 85%;
}
.sort p{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #1A2431;
}
.iceDisplay,.noIceDisplay{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.iceDisplay {
    /* position: absolute; */
    width: 85%;
    /* z-index: 1; */
}

.iceDisplay.active {
    display: none;
}

.noIceDisplay {
    width: 85%;
}

.noIceDisplay.active {
    display: none;
}

.allItem_R .item {
    /* flex: 1; */
    /*平板以上有交換主軸方向，flex權重>寬高*/
    margin: 0 20px 35px;
    /* border-radius: 20px; */
    width: 28%;
    color: #1A2431;
    text-align: center;
}
.allItem_R .item .content{
    margin: 10px;
}
.allItem_R .item .content div{
    padding-bottom: 5px;
}
.allItem_R .item figure {
    height: 40vh;
    border-radius: 80px;
    overflow: hidden;
}

.allItem_R img {
    object-fit: cover;
    height: 100%;
}

.btn-s {
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 8px 41px;
    border-radius: 99px;
    transition: .35s ease-in-out;
    background-color: #F9F9F9;
    color: #2B3773;
    border-color: #2B3773;
    border-style: solid;
    border-width: .3px;
    width: 180px;
    letter-spacing: .2rem;
}

.btn-s:hover {
    background-color: #2B3773;
    color: #F9F9F9;
}

/* footer */
footer {
    background-color: #588BAA;
    color: #F9F9F9;
    padding: 20px;
    /* 添加 padding 以確保内容可建 */
    margin-top: auto;
    /* 確保 footer 在頁面底部 */
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* 保持所有元素在一行，并允许必要时换行 */
}

footer .navigation {
    padding: 0 70px 0 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    /* 調整字體大小 */
}

footer .navigation .menu-list {
    display: column;
    justify-content: center;
}

footer .menu {
    padding: 10px 20px;
}

footer .menu .submenu {
    padding: 10px 0;
}

footer .submenu-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

footer .small {
    margin: 0;
    padding: 0;
    justify-content: center;
    opacity: 0.9;
    font-size: 12px;
}