@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Shrikhand&&family=Lobster&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*不累加內矩(padding)與邊框(border)*/
}

/* 重置字體 */
body {
    font-family:
        /*外文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
main img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    color: var(--deep);
}

/* 主頁共用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* height: auto; */
    /* min-height: 100vh;  */
    /* border: 2px solid red; */
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.title h2 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: .3rem;
    color: #588BAA;
}
h3{
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: .3rem;
    color: #1A2431;
}
.box_list {
    width: 80%;
    max-width: 1440px;
    /*通常搭配相對單位，設定絕對單位*/
    display: flex;
    background-color: transparent;
    text-align: center;
}
#topbar li{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 22px;
}


/*popular*/
#popular{
    background-color: #F9F9F9;
    height: 125vh;
}
.box_list .item1{
    width:35%;
    height:80%;
    margin: 0 15px;
} 

.box_list span{
    font-size: 40px;
    color: #2B3773;
}
.box_list .item1 figure {
    border-radius: 100px;
    overflow: hidden; 
    opacity: 0.8;
}
.box_list .item2{
    width:30%;
    height:40%
} 
.box_list .item3{
    width:30%;
    height:40%;
} 
.box_list .item {
    /* flex: 1; */
    /*平板以上有交換主軸方向，flex權重>寬高*/
    margin: 0 15px 35px;
    /* border-radius: 20px; */
    color: #2B3773;
}
.box_list .item figure {
    height: 40vh;
    border-radius: 100px;
    overflow: hidden; 
    opacity: 0.8;
}
.box_list img {
    object-fit: cover;
    height: 100%;
}

/*topbar*/
#topbar{
    position: fixed;
    top: 0; /* 距離頁面頂部 0px */
    left: 0; /* 距離頁面左側 0px */
    width: 100%; /* 寬度為 100% */
    z-index: 1000; /* 提高 z-index，確保頂部欄不被其他元素遮住 */
    background-color: #F9F9F9;
}

.navigation {
    display: flex;
    /*主軸垂直*/
    align-items: center;
    /*副軸(水平)置底*/
    justify-content: center;
    justify-content: space-between;
}

.navigation .icon {
    display: flex;
    padding-right: 35px;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    transition: all .35s ease-in-out;
}

.navigation .menu {
    display: flex;
    margin: 15px 0;
    /*控制父層的外距*/
    padding: 10px;
    border-radius: 99px;
}

.navigation .menu li:last-child {
    border-right: none;
}

.navigation .menu a {
    color: #2B3773;
    font-size: 22px;
    line-height: 1;
    margin: 0 20px;
    /*控制子層的外距*/
    border-bottom: solid 5px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 2px #76716c;
    transition: .35s ease-in-out;
}

/*banner*/
#banner{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    background-color: #F9F9F9;
}
.bannerLeft{
    width: 30%;
    height: 100vh; /* 設定容器的高度 */
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerRight {
    width: 70%;
    height: 100vh; 
    /* background-image: url('../images/tiramisu.jpg');  */
    background-position: center;
    background-repeat: no-repeat; 
    overflow: hidden;
}
.bannerLogo{
    width: 70%;
}

.btn-b {
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    padding: 8px 41px;
    border-radius: 99px;
    transition: .35s ease-in-out;
    background-color: #F9F9F9;
    color: #2B3773;
    border-color: #2B3773;
    border-style: solid;
    border-width: .3px;
    width: 100%;
    letter-spacing: .2rem;
}
.btn-b:hover {
    background-color: #2B3773;
    color: #F9F9F9;
}
/*aboutus*/
#aboutus {
    background-color: #FFF5DB;
    height: 80vh;
}
.itemL{
    width: 50%;
}
.itemL figure {
    margin-left: 120px;
    height: 480px;
    width: 480px;
    border-radius: 250px;
    overflow: hidden;
    box-shadow: 25px 20px 0px #588BAA ;
}
.itemL img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0.9;
    overflow: hidden;
}
.itemR{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemR .content{
    width: 80%;
    text-align: left;
}
.itemR .content p{
    font-family: "Noto Sans TC";
    font-size: 16px;
    letter-spacing: .2rem;
    color: #2B3773;
}

.box_list .itemA p{
    color: #2B3773;
}
/* footer */
footer {
    background-color: #588BAA;
    color: #F9F9F9;
    padding: 20px;
    /* 添加 padding 以確保内容可建 */
    margin-top: auto;
    /* 確保 footer 在頁面底部 */
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* 保持所有元素在一行，并允许必要时换行 */
}

footer .navigation {
    padding: 0 70px 0 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    /* 調整字體大小 */
}

footer .navigation .menu-list {
    display: column;
    justify-content: center;
}

footer .menu {
    padding: 10px 20px;
}

footer .menu .submenu {
    padding: 10px 0;
}

footer .submenu-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

footer .small {
    margin: 0;
    padding: 0;
    justify-content: center;
    opacity: 0.9;
    font-size: 12px;
}