@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Shrikhand&&family=Lobster&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*不累加內矩(padding)與邊框(border)*/
}

/* 重置字體 */
body {
    font-family:
        /*外文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
main img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    color: var(--deep);
}

/* 主頁共用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* height: auto; */
    /* min-height: 100vh;  */
    /* border: 2px solid red; */
}

/*topbar*/
#topbar{
    background-color: #F9F9F9;
}

.navigation {
    display: flex;
    /*主軸垂直*/
    align-items: center;
    /*副軸(水平)置底*/
    justify-content: center;
    justify-content: space-between;
}

.navigation .icon {
    display: flex;
    padding: 0 50px;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    transition: all .35s ease-in-out;
}

.navigation .menu {
    display: flex;
    margin: 15px 0;
    /*控制父層的外距*/
    padding: 10px;
    border-radius: 99px;
}

.navigation .menu li:last-child {
    border-right: none;
}

.navigation .menu a {
    color: #2B3773;
    font-size: 22px;
    line-height: 1;
    margin: 0 20px;
    /*控制子層的外距*/
    border-bottom: solid 5px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 2px #76716c;
    transition: .35s ease-in-out;
}

/* footer */
footer {
    background-color: #588BAA;
    color: #F9F9F9;
    padding: 20px;
    /* 添加 padding 以確保内容可建 */
    margin-top: auto;
    /* 確保 footer 在頁面底部 */
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* 保持所有元素在一行，并允许必要时换行 */
}

footer .navigation {
    padding: 0 70px 0 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    /* 調整字體大小 */
}

footer .navigation .menu-list {
    display: column;
    justify-content: center;
}

footer .menu {
    padding: 10px 20px;
}

footer .menu .submenu {
    padding: 10px 0;
}

footer .submenu-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

footer .small {
    margin: 0;
    padding: 0;
    justify-content: center;
    opacity: 0.9;
    font-size: 12px;
}