@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Shrikhand&&family=Lobster&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*不累加內矩(padding)與邊框(border)*/
}

/* 重置字體 */
body {
    font-family:
        /*外文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
main img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    color: var(--deep);
}

/* 主頁共用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    /* min-height: 100vh;  */
    /* border: 2px solid red; */
    background-color: #FFF5DB;
}
.title {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 30px;
}

.title h2 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: .3rem;
    color: #588BAA;
}
.bannerR h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: .3rem;
}
.itemAll h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
p{
    font-family: "Noto Sans TC", sans-serif;
    /* font-size: 16px; */
    letter-spacing: .2rem;
}
.bannerR span{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.wayAll ul,.wayAll li{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    letter-spacing: .2rem;
}
/*topbar*/
#topbar{
    position: fixed;
    top: 0; /* 距離頁面頂部 0px */
    left: 0; /* 距離頁面左側 0px */
    width: 100%; /* 寬度為 100% */
    z-index: 1000; /* 提高 z-index，確保頂部欄不被其他元素遮住 */
    background-color: #F9F9F9;
}
#topbar li{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.navigation {
    display: flex;
    /*主軸垂直*/
    align-items: center;
    /*副軸(水平)置底*/
    justify-content: center;
    justify-content: space-between;
}

.navigation .icon {
    display: flex;
    padding-right: 35px;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    transition: all .35s ease-in-out;
}

.navigation .menu {
    display: flex;
    margin: 15px 0;
    /*控制父層的外距*/
    padding: 10px;
    border-radius: 99px;
}

.navigation .menu li:last-child {
    border-right: none;
}

.navigation .menu a {
    color: #696969de;
    font-size: 22px;
    line-height: 1;
    margin: 0 20px;
    /*控制子層的外距*/
    border-bottom: solid 5px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 2px #76716c;
    transition: .35s ease-in-out;
}
.menuicon{
    display: flex;
    align-items: center;
}
/*banner*/
#banner{
    height:90vh;

}
.bannerAll{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1440px;
}
.bannerL{
    width: 50%;
}
.bannerLt figure {
    height: 90%;
    width: 90%;
    border-radius: 40px;
    overflow: hidden;
    padding-bottom: 20px;
}
.bannerL img {
    object-fit: cover;
    height: 100%;
}
.bannerLb{
    display: flex;
    flex-direction: row;
}
.bannerLb figure{
    height: 30%;
    width: 28%;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 18px;
}
.bannerR{
    width: 50%;
}
.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 50px;
}
.quantity input[type="text"] {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin: 0 10px;
}
.quantity button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
}

.quantity button:hover{
    background-color: #ccc;
}

.buttonAll{
    display: flex;
    justify-content: center;
}

.buttonAll .btn-s{
    margin:30px;
}
/*way*/
#way{
    height: 50vh;
}
.wayAll{
    width: 80%;
    max-width: 1440px;
}

/*recommendAll*/
#recommend{
    height: 80vh;
}
.recommendAll{
    width: 80%;
    max-width: 1440px;
}
.itemAll {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 180vh; */
}
.item {
    /* flex: 1; */
    /*平板以上有交換主軸方向，flex權重>寬高*/
    margin: 0 30px 35px;
    /* border-radius: 20px; */
    width: 28%;
    color: #1A2431;
    text-align: center;
}
.itemAll .item .content{
    margin: 10px;
}
.itemAll .item .content div{
    padding-bottom: 5px;
}
.itemAll .item figure {
    height: 40vh;
    border-radius: 80px;
    overflow: hidden;
}
.itemAll .item figure:hover{
    opacity: 0.8;
}
.itemAll img {
    object-fit: cover;
    height: 100%;
}

.btn-s {
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 8px 41px;
    border-radius: 99px;
    transition: .35s ease-in-out;
    background-color: #F9F9F9;
    color: #2B3773;
    border-color: #2B3773;
    border-style: solid;
    border-width: .3px;
    width: 180px;
    letter-spacing: .2rem;
}

.btn-s:hover {
    background-color: #2B3773;
    color: #F9F9F9;
}
/* footer */
footer {
    background-color: #588BAA;
    color: #F9F9F9;
    padding: 20px;
    /* 添加 padding 以確保内容可建 */
    margin-top: auto;
    /* 確保 footer 在頁面底部 */
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* 保持所有元素在一行，并允许必要时换行 */
}

footer .navigation {
    padding: 0 70px 0 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    /* 調整字體大小 */
}

footer .navigation .menu-list {
    display: column;
    justify-content: center;
}

footer .menu {
    padding: 10px 20px;
}

footer .menu .submenu {
    padding: 10px 0;
}

footer .submenu-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

footer .small {
    margin: 0;
    padding: 0;
    justify-content: center;
    opacity: 0.9;
    font-size: 12px;
}